# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Secrets
secrets.tfvars


# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

.idea/